@model AkuteSinglePage.Models.LocalizedSong

                    <div class="triangle-border left lyrics">
                        <div class="song-title">@Model.Title</div>
                        <pre class="lyrics">@Model.Lyrics</pre>
</div>