@model AkuteSinglePage.Models.AboutModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared.cshtml";
}

<header>
</header>

<article id="about-page">
            <section id="who-we-are" class="">
                <div class="container">
                    <h2>Склад гурта</h2>
                    <div class="row-fluid">
                        <div class="span4 centered full-width">
                            <img class="profile-photo" src="~/Content/img/mytnik.jpg" alt="Стас Мытник">
                            <div class="profiles-wrap">
                                <h3>Станіслаў Мытнік</h3>
                                <h4 class="five">Вакал, гітара</h4>
                                <ul class="no-bullets centered inline">
                                    <li><a href="https://twitter.com/Staneska" target="_blank">Twitter</a></li>
                                    <li><a href="http://instagram.com/staneskas" target="_blank">Instagram</a></li>
                                    <li><a href="@Url.Action("Staneskas", "Blog")">Blog</a></li>
                                </ul>
                            </div>
                            <hr class="clear" />
                        </div>
                        <div class="span4 centered full-width">
                            <img class="profile-photo" src="~/Content/img/zhygarev.jpg" alt="Роман Жыгарев">
                            <div class="profiles-wrap">
                                <h3>Раман Жыгараў</h3>
                                <h4 class="five">Бас-гітара</h4>
                                <ul class="no-bullets centered inline">
                                    <li><a href="https://twitter.com/romaramsi" target="_blank">Twitter</a></li>
                                    <li><a href="http://instagram.com/romaramsi" target="_blank">Instagram</a></li>
                                    <li><a href="">Blog</a></li>
                                </ul>
                            </div>
                            <hr class="clear" />
                        </div>
                        <div class="span4 centered full-width">
                            <img class="profile-photo" src="~/Content/img/filatov.jpg" alt="Павел Филатов">
                            <div class="profiles-wrap">
                                <h3>Павел Філатаў</h3>
                                <h4 class="five">Барабаны</h4>
                                <ul class="no-bullets centered inline">
                                    <li><a href="https://twitter.com/DrumEXT" target ="_blank">Twitter</a></li>
                                    <li><a href="http://instagram.com/drumext" target="_blank">Instagram</a></li>
                                    <li><a href="@Url.Action("DrumExt", "Blog")">Blog</a></li>
                                </ul>
                            </div>
                            <hr class="clear" />
                        </div>
                    </div>
                </div>
        </section>
    <section id="process">
        <div class="grey-background">
            <div class="container">
                   <div class="post text">
						<div class="title">
							<h1>Akute</h1>						
						</div>
            				<div class="date">
								Aug 19 2014
							</div>
						<div class="caption">
                            <p>«Akute» (Акутэ) — музычны гурт з Магілёва, заснаваны ў 2008 годзе былымі ўдзельнікамі гурта «Глюкі» - вакалістам Стасам Мытнікам і бас-гітарыстам Раманам Жыгаравым.</p>
						    <p>Упершыню гурт выступіў у канцы жніўня 2009 г. на фестывалі «Прыход» пад Магілёвам. Першая ж студыйная песня «Адзіноцтва», прадстаўленая ў лістападзе, заняла ІІІ месца ў хіт-парадзе «Тузіну гітоў» за 2010 год. 26 чэрвеня выступіў на фэстывалі Be2gether (вёска Нарвілішкі, Салечніцкі раён, Віленскі павет, Літоўская Рэспубліка). Таксама перамог на «Басовішчы» (Польшча) і «Верціфэсце» (Украіна), заняў другое месца на «Адкрытым музычным свяце Графіці» (Мінск). Увосень запісаў усе песні будучага першага альбому на магілёўскай студыі «Арзамас-16». У чэрвені 2011 году выйшаў першы альбом «Дзевачкі і космас», за які гурт адзначылі ў намінацыі «Прарыў году» на «Рок-каранацыі». 21 красавіка 2012 г. у мінскім клубе «Рэпаблік» адбылася прэзентацыя другога альбому «Не існуе». У верасні іграў на разагрэве ў брытанскага гурта Placebo. У снежні зрабіўся гуртом году паводле «Тузіну гітоў». Песьні гурта ўвайшлі ў саўндтрэк моладзевага фільму «Вышэй за неба».</p>
                            <p><img class="about-content-img" src="~/Content/img/akute11.jpg" /></p>
                            <div class="bold">
                                <p>Дыскаграфія</p>
                            </div>
                            <p>«Дзевачкі і космас» (2011)</p>
                            <p>«Не існуе» (2012)</p>
                            <p>«Рэальнасць і сны» (2014)</p>
                            <div class="bold">
                                <p>Узнагароды</p>
                            </div>
                            <p>2010 — галоўныя ўзнагароды «Басовішча» (Гарадок, Беластоцкі павет, Падляскае ваяводства, Рэспубліка Польшча) і «Верціфэсту» (Кіеў, Украіна).</p>
                            <p>2012 — гурт году паводле «Тузіна гітоў» Ultra-Music.</p>
                            <p>2013 — артысты году паводле прэміі «Рок профі».</p>
                            <div class="bold">
                                <p>Удзел у фестывалях</p>
                            </div>
                            <p>2009 — «Прыход» (Магілёўскі раён, Беларусь)</p>
                            <p>2010 — Be2gether (Літва, «Басовішча» (Польшча), «Верціфэст» (Украіна)</p>
                            <p>2011 — Канцэрт на траве (хутар Шаблі, Валожынскі раён, Мінская вобласць)</p>
                            <p>2012 — Пікнік.by (Мінск), Рок па вакацыях (Мінск)</p>
                            <p>2013 — Мост (Баравая, Мінскі раён), «Галапагаі» (Езяросы, Уцянскі павет, Літва), «Самаход» (Мінск), «Men's Fest» (Брэст)</p>
                            <p>Трэці студыйны альбом "Рэальнасть і сны" выйшаў у 2014 годзе, але дэбютны кліп на песню з альбома "Бегчы" выйшаў значна раней і меў вялікі поспех.</p>
                            <p><img src="~/Content/img/5.jpg" /></p>
                            <p>Зараз музыкі з'яўляюцца вельмі папулярным гуртом і жаданымі гасцямі на любым фэсце ці канцэрце. Асаблівую папулярнаць атрымалі пасля ўдзелу ў праэкце <em>"Вышэй за неба"</em>, але і новы альбом карыстаецца любоўю слухачоў, і асабліва слухачак. Зараз гурт актыўна займаецца канцэртнай дзейнасцю, даючы шматлікія канцэрты, у тым ліку і за межамі Беларусі.</p>
						</div> <!-- End caption -->
				</div> <!-- post end -->
            </div>
        </div>

    </section>
    <section id="about-pictures-block">
        <div class="container">
             <div class="inner">
                <div class="mask">
                    <div class="block-head">
                        <h3>Фота</h3>
                    </div>
                    <div class="block-slider">
                        <div class="video-slider" >
                            <ul >
                                @foreach (var pic in Model.Pictures)
                                {
                                    <li >
                                        <div class="thumbnail-container">
                                            <div class="item">
                                                <a class="fancybox video-container" rel="group" href="@Url.Action("GetAlbumPicture", new {photoAlbumId = pic.PhotoAlbumId, filename = pic.Filename})"><img class="about-slider" src="@Url.Action("GetAlbumPicture", new {photoAlbumId = pic.PhotoAlbumId, filename = pic.Filename})" alt="alt2" /></a>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>





<script type="text/javascript" src="~/JS/Libs/jquery.jCarouselLite.js"></script>

<script type="text/javascript">
    $(function () {
        $(".video-slider").jCarouselLite({
            circular: false
        });
    });
</script>

<link rel="stylesheet" type="text/css" href="~/Content/Libs/jquery.fancybox.css" />
<script type="text/javascript" src="~/JS/Libs/jquery.fancybox.js"></script>



<script type="text/javascript">
    $(document).ready(function () {
        $(".fancybox").fancybox({
        });
    });
</script>