.pink-background
{
	background-color: #f9f4ed;
}

#drumext-blog
{
	font-size:24px;
	/*padding:2em 0 0 15em;*/
	margin: 0 auto;
	font-family: bitter,georgia,serif;
	color: #444;
	line-height: 1.5;
	max-width: 732px;
	min-width: 240px;
	position: relative;

	color: #444;
}

.blog-wrap
{
	padding:2em;
}

.blog-wrap h1
{
	font-size: 3.75em;
	word-wrap: break-word;
	line-height: 1;
	font-family: dosis,"HelveticaNeue-CondensedBold","trebuchet ms",sans-serif;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-weight: 700;
	text-align:left;
}

.blog-intro
{
	font-size: 1.25em;
	margin-bottom: 0;
}

.blog-hr
{
	border: 0;
	height: .75em;
	background: #c66;
	display: block;
	clear: both;
	margin: 0 2em;
	padding: 0;
	border-radius: .25em;
}

.blog-list-title
{
	font-weight:400;
	text-align:left;
	font-size: 1.25em;
	padding: 0 1.5em;
	margin-top: 1.5em;
	margin-left:1em;
	font-family: dosis,"HelveticaNeue-CondensedBold","trebuchet ms",sans-serif;
	text-transform: uppercase;
	letter-spacing: .1em;
	margin-bottom:1.5em;

	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.blog-post-list
{
	border-top: 1px solid rgba(0,0,0,0.1);
	padding-bottom: 3em;
	margin-bottom: 0;
}

ul.blog-post-list
{
	list-style:none;
}

.blog-post-block
{
	margin: 0;
	padding: 1em 2em;
	position: relative;
	overflow: hidden;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.blog-post-title
{
	margin:0;
}

.blog-post-data
{
	margin: 0;
	padding: .25em 0;
	color: #aaa;
	color: rgba(0,0,0,0.35);
}

.blog-post-title
{
	font-weight:700;
}

.blog-list-title i 
{
	margin-right: .5em;
	margin-top:.3em;
}

.custom-icon-pencil:before
{
	content:"\2750";
	/*content:"\270D";*/
	margin-right:0.3em;
}

.blog-mini-profile
{
	padding-bottom: 0;
	padding-top: 3em;
}

.blog-photo
{
	overflow: hidden;
	position: relative;
	border-radius: .25em;
	height: 100%;
	max-width: 702px;
	display: block;
	background: #444;
	border: .25em solid #444;
}

.blog-avatar
{
	width: 3em;
	height:3em;
	float: left;
	margin: 0 1em 0.5em 0;
}

h4.blog-title
{
	font-family: dosis,"HelveticaNeue-CondensedBold","trebuchet ms",sans-serif;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-weight: 700;
	font-size: 1.5em;
	margin:0;
	padding-left:2.5em;
}

h6.blog-subtitle
{
	font-family: dosis,"HelveticaNeue-CondensedBold","trebuchet ms",sans-serif;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 1em;
	font-weight: 400;
	margin-top: 0px;
	margin-bottom: 0.6em;
	line-height: inherit;
}

.blog-social
{
	font-size:0.75em;
	padding:0;
	margin:1em;
}

.blog-ul-social
{
	list-style:none;
}

.blog-ul-social li
{
	margin-right:1em;
	display:inline-block;
}

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?409o9c');
	src:url('fonts/icomoon.eot?#iefix409o9c') format('embedded-opentype'),
		url('fonts/icomoon.woff?409o9c') format('woff'),
		url('fonts/icomoon.ttf?409o9c') format('truetype'),
		url('fonts/icomoon.svg?409o9c#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.blog-social-twitter:before
{
	content:"\e603";
	font-family: 'icomoon';
	margin-right:0.1em;
}

.blog-social-twitter a
{
	color:black;
}

.blog-social-instagram:before
{
	content: "\e602";
	font-family:'icomoon';
	margin-right:0.3em;
}

.blog-social-instagram a
{
	color:black;
}

.icomoon
{
	font-family:'icomoon';
}

.blog-social-email:before
{
	content:'\e601';
	font-family:'icomoon';
	margin-right:0.3em;
}

.custom-icon-photo:before
{
	content:"\e600";
	font-family:'icomoon';
	margin-right:0.3em;
}

.blog-social-email a
{
	color:black;
}

.post-block
{
	border-bottom: 1px solid rgba(0,1,0,0.1);
}

/*kimi after removing*/
.blog-nav
{
	width: 100%;
	padding: 3em 0 0;
	border: 0;
	top: -50%;
	-webkit-transition: top 0 ease-in-out;
	-moz-transition: top 0 ease-in-out;
	-o-transition: top 0 ease-in-out;
	transition: top 0 ease-in-out;
}

.nav-menu
{
	margin: 0;
border-top: 1px solid rgba(0,0,0,0.1);
}

	.nav-menu li
	{
		padding:0;
	}

		.nav-menu li
		{
			font-weight: 700;
text-transform: uppercase;
letter-spacing: .1em;
padding: .5em 1.5em;
font-size: 1.25em;
display: block;
border-bottom: 1px solid rgba(0,0,0,0.1);
		}

.no-bullet
{
	list-style:none;
}

/*kimi - for notes page*/

#sitemeta
{
	top: 6em;
	z-index: 1;

}

	#drumext-blog aside
	{
			position: fixed;
width: 25em;
margin-left: -25em;
font-size:16px;
	}


h1, h2, h3, h4, h5, h6
{
	font-weight: 700;
line-height: 1.25;
margin: 0 0 1rem;
}

.blog-block
{
	padding:2em;
}

.blog-single-note-block
{
	padding: 2em 0 0 15em;
}

.blog-menu-nav-wrapper
{
	padding:2em;
}

.blog-photo-wrapper
{

}

.blog-photo
{
	margin: 0 0 2em;
	border-width: .5em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.photo
{
	overflow: hidden;
position: relative;
border-radius: .25em;
height: 100%;
max-width: 702px;
display: block;
background: #444;
border: .25em solid #444;
}

.blog-photo img
{
	width:100%;
	height:100%;
}