html,body
{
	height:100%
}

body
{
	font-family:"kepler-std-n3","kepler-std",serif;
	font-style:normal;
	font-weight:300;
	color:#615d59;
	font-size:1.1em;
	-webkit-font-smoothing:antialiased
}
a
{
	color:#315c77;
	-webkit-transition:color .3s ease-in-out;
	-moz-transition:color .3s ease-in-out;
	-o-transition:color .3s ease-in-out;
	transition:color .3s ease-in-out
}
a:hover
{
	color:#323f47;
	-webkit-transition:color .3s ease-in-out;
	-moz-transition:color .3s ease-in-out;
	-o-transition:color .3s ease-in-out;
	transition:color .3s ease-in-out;
	text-decoration:none;
	border-bottom:1px solid
}
a:active
{
	-webkit-transform:translate(0,1px);
	-moz-transform:translate(0,1px);
	-o-transform:translate(0,1px);
	-ms-transform:translate(0,1px);
	transform:translate(0,1px)
}
p,li
{
	line-height:1.6
}
h1
{
	font-family:"proxima-nova-n3","proxima-nova",sans-serif;
	font-style:normal;
	font-weight:300;
	font-size:1.6em;
	line-height:1.4em;
	text-transform:uppercase;
	letter-spacing:.1em;
	text-align:center;
	color:#2a2827
}
h2
{
	font-family:"proxima-nova-n4","proxima-nova",sans-serif;
	font-style:normal;
	font-weight:400;
	font-size:1.4em;
	text-transform:uppercase;
	letter-spacing:.1em;
	line-height:1.3em;
	text-align:center;
	margin-bottom:2.5em;
	color:#2a2827
}
h2 span
{
	background:#fff;
	padding:0 15px
}
h3,.three
{
	font-family:"proxima-nova-n6","proxima-nova",sans-serif;
	font-style:normal;
	font-weight:600;
	font-size:1.1em;
	color:#484543;
	line-height:1.3em;
	margin-bottom:1em;
	text-transform:uppercase;
	letter-spacing:.12em
}
h4,h3.four
{
	font-family:"proxima-nova-n4","proxima-nova",sans-serif;
	font-style:normal;
	font-weight:400;
	font-size:.8em;
	text-transform:uppercase;
	line-height:1.3em;
	letter-spacing:1px
}
h4.five
{
	font-family:"kepler-std-i3","kepler-std",serif;
	font-style:italic;
	font-weight:300;
	font-size:1em;
	text-transform:none;
	letter-spacing:0;
	margin-top:0;
	color:#999
}
.lede
{
	background:0;
	border:0;
	font-family:"kepler-std-i3","kepler-std",serif;
	font-style:italic;
	font-weight:300;
	font-size:1.8em;
	text-transform:none;
	letter-spacing:0;
	color:#6c6865
}
.lede.two
{
	font-size:1.4em
}
::selection
{
	background-color:#f9d566
}
::-moz-selection
{
	background-color:#f9d566
}
.wf-loading body
{-moz-opacity:.1;
 -khtml-opacity:.1;
 -webkit-opacity:.1;
 opacity:.1;
 -ms-filter:alpha(opacity=10);
 filter:alpha(opacity=10)
}
.wf-active body
{
	-moz-opacity:1;
	-khtml-opacity:1;
	-webkit-opacity:1;
	opacity:1;
	-ms-filter:alpha(opacity=100);
	filter:alpha(opacity=100);
	-webkit-transition:opacity 1s ease;
	-moz-transition:opacity 1s ease;
	-o-transition:opacity 1s ease;
	transition:opacity 1s ease
}
.no-bg
{
	background:0
}
.centered
{
	text-align:center
}
.sans
{
	font-family:"proxima-nova-n4","proxima-nova",sans-serif;
	font-style:normal;
	font-weight:400;
	text-transform:uppercase;
	letter-spacing:2px;
	font-size:.7em
}
.sans.lower
{
	text-transform:none;
	letter-spacing:0
}
hr
{
	margin:0
}
hr.space,hr.clear
{
	height:2em;
	border:0;
	color:transparent
}
hr.clear
{
	height:0;
	clear:both
}
hr.divider
{
	border:0;
	border-bottom:1px solid #eeeeed
}
hr.divider.divider-process
{
	border-color:#ddd;
	margin:4em 0
}
input,textarea,select
{
	-webkit-appearance:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	outline:0
}
.fade-out
{
	-moz-opacity:0;
	-khtml-opacity:0;
	-webkit-opacity:0;
	opacity:0;
	-ms-filter:alpha(opacity=0);
	filter:alpha(opacity=0);
	-webkit-transition:opacity 2s;
	-moz-transition:opacity 2s;
	-o-transition:opacity 2s;
	transition:opacity 2s
}
.inline-list
{
	list-style:none;
	margin:0;
	width:100%
}
.inline-list li
{
	display:inline
}
.opacity-change
{
	-webkit-transition:opacity .3s ease-in-out;
	-moz-transition:opacity .3s ease-in-out;
	-o-transition:opacity .3s ease-in-out;
	transition:opacity .3s ease-in-out
}
.opacity-change:hover
{
	-webkit-transition:opacity .3s ease-in-out;
	-moz-transition:opacity .3s ease-in-out;
	-o-transition:opacity .3s ease-in-out;
	transition:opacity .3s ease-in-out
}
.no-bullets
{
	list-style:none;
	margin:0
}
.narrower
{
	padding:0 10%;
	width:80%;
	margin-bottom:3em
}
ul>li.thumbnail
{
	width:23%;
	padding:0;
	float:left;
	margin:0 1% 2.5em
}
article
{
	background:#fff;
	z-index:200;
	position:relative
}
article section.container
{
	padding-top:3em
}
.buttons
{
	background:#f8d055;
	display:block;
	font-size:.8em;
	text-align:center;
	color:#323f47;
	max-width:220px;
	border:0;
	padding:1em 5%;
	margin:0 auto .5em;
	-webkit-border-radius:2px!important;
	-moz-border-radius:2px!important;
	border-radius:2px!important;
	-webkit-transition:background-color .3s;
	-moz-transition:background-color .3s;
	-o-transition:background-color .3s;
	transition:background-color .3s
}
.buttons.clean
{
	background:#f5f5f0;
	max-width:500px;
	border:1px solid #e7e7de;
	font-weight:600;
	color:#545e67
}
.buttons.clean:hover
{
	background:#ebebe5;
	border:1px solid #e1e1da;
	color:#333
}
.buttons.clean:active
{
	-webkit-transform:translate(0,1px);
	-moz-transform:translate(0,1px);
	-o-transform:translate(0,1px);
	-ms-transform:translate(0,1px);
	transform:translate(0,1px)
}
#contact-page .buttons.submit
{
	margin:2em 0 4em;
	border:0;
	max-width:240px
}
.buttons:hover
{
	border:0;
	background:#fde06b;
	-webkit-transition:background-color .3s;
	-moz-transition:background-color .3s;
	-o-transition:background-color .3s;
	transition:background-color .3s;
	color:#323f47}
.buttons:active
{
	-webkit-transform:translate(0,2px);
	-moz-transform:translate(0,2px);
	-o-transform:translate(0,2px);
	-ms-transform:translate(0,2px);
	transform:translate(0,2px)
}
.tooltip-inner
{
	font-family:"proxima-nova-n4","proxima-nova",sans-serif;
	font-style:normal;
	font-weight:400;
	text-transform:uppercase;
	letter-spacing:1px;
	font-size:1em
}
.thumbnail a img
{
	-moz-opacity:1;
	-khtml-opacity:1;
	-webkit-opacity:1;
	opacity:1;
	-ms-filter:alpha(opacity=100);
	filter:alpha(opacity=100);
	-webkit-transition:opacity .3s;
	-moz-transition:opacity .3s;
	-o-transition:opacity .3s;
	transition:opacity .3s
}
.thumbnail a:hover img
{
	-moz-opacity:.5;
	-khtml-opacity:.5;
	-webkit-opacity:.5;
	opacity:.5;
	-ms-filter:alpha(opacity=50);
	filter:alpha(opacity=50);
	-webkit-transition:opacity .8s;
	-moz-transition:opacity .8s;
	-o-transition:opacity .8s;
	transition:opacity .8s
}
.thumbnail a:hover
{
	border:0
}
.modal
{
	width:74%;
	margin-left:-37%
}
.move-up
{
	margin-top:-20px
}

.home-link
{
	position:fixed;
	width:120px;
	margin:0 30px 0;
	float:left
}

.home-link a
{
	background-image:url(../Content/img/dark-logo.png);
	/*kimi*/
	/*background-position:-4px -8px;*/
	background-repeat:no-repeat;
	display:block;
	overflow:hidden;
	text-indent:100%;
	white-space:nowrap;
	/*kimi*/
	/*height:24px;*/
	height:30px
}

#main-nav
{
	width:100%;
	font-family:"proxima-nova-n4","proxima-nova",sans-serif;
	font-style:normal;
	font-weight:400!important;
	text-transform:uppercase;
	font-size:.8em;
	height:3em;
	padding-top:1.5em;
	letter-spacing:.2em;
	position:absolute;
	z-index:400;
	-webkit-transition:background 1s;
	-moz-transition:background 1s;
	-o-transition:background 1s;
	transition:background 1s
}
#main-nav.dark-header
{
	background:rgba(51,61,71,0.95);
	position:fixed;
	-webkit-transition:background .6s;
	-moz-transition:background .6s;
	-o-transition:background .6s;
	transition:background .6s
}

.dark-header .home-link a
{
	background-image:url(../Content/img/logo.gif);
	background-repeat:no-repeat;
}

body.contact .nav-collapse .nav>li>a,body.contact .nav-collapse .dropdown-menu a,body.work-page .nav-collapse .nav>li>a,body.contact .nav-collapse .nav>li>a
{
	color:#313e46
}
body.work-page,body.contact
{
	background-position:-4px -50px
}
.nav-collapse .nav>li>a,.nav-collapse .dropdown-menu a
{
	font-family:"proxima-nova-n4","proxima-nova",sans-serif;
	font-style:normal;
	font-weight:400!important
}
.nav-collapse.collapse
{
	float:right;
	margin-right:30px
}
#main-nav a:hover
{
	border:0
}
#main-nav ul li+li
{
	margin-left:10px
}
ul.nav li a,.work-page .dark-header ul.nav li a,.contact .dark-header ul.nav li a
{
	color:#fff;
	-webkit-transition:background .4s;
	-moz-transition:background .4s;
	-o-transition:background .4s;
	transition:background .4s;
	padding:10px 20px
}
ul.nav li a:hover
{
	color:#fff;
	background:rgba(0,0,0,0.2);
	-webkit-transition:background .4s;
	-moz-transition:background .4s;
	-o-transition:background .4s;
	transition:background .4s
}
.btn-navbar
{
	background:none!important;
	float:right;
	border:0;
	padding:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	display:none
}
.btn-navbar span
{
	display:block;
	width:32px;
	height:4px;
	background:#f8d055;
	margin-bottom:5px
}
#main-footer
{
	background:#313e46;
	padding:4em 0;
	position:relative;
	z-index:80;
	color:#909fae
}
.contact.mail #main-footer
{
	position:absolute;
	bottom:0;
	width:100%
}
.newsletter
{
	max-width:460px;
	margin:0 auto
}
div.copyright
{
	padding-top:2.3em
}
div.copyright,.copyright-text
{
	float:left
}
.copyright-text .sans
{
	display:block
}
span.hangar-icon
{
	position:relative;
	float:left;
	top:-5px;
	margin-right:10px
}
.copyright-text i
{
	font-family:"kepler-std-i4","kepler-std",serif;
	font-style:italic;
	font-weight:400
}
.social-footer
{
	padding:1.65em 0 0;
	text-align:right
}
.social-footer span
{
	margin:0 3px
}

.facebook a, .twitter a, .vk a, .tumblr a,.vimeo a,span.hangar-icon a
{
	display:inline-block;
	width:44px;
	height:44px;
	border:1px solid #465259;
	-webkit-transition:background-color .3s;
	-moz-transition:background-color .3s;
	-o-transition:background-color .3s;
	transition:background-color .3s
}

/*.twitter a
{
	background:url(../Content/img/twitter.png) no-repeat ;
}*/

.facebook a:hover,.twitter a:hover,.tumblr a:hover,.vimeo a:hover
{
	background-color:#465259;
	-webkit-transition:background-color .3s;
	-moz-transition:background-color .3s;
	-o-transition:background-color .3s;
	transition:background-color .3s
}
footer .mc-field-group,footer .clear
{
	float:left;
	width:80%
}
footer .clear
{
	width:20%
}
footer input.email,footer .clear input
{
	font-size:.6em;
	padding:1.25em 2%;
	width:100%;
	border:0
}
footer input.email
{
	padding:1.25em 4%
}
footer form
{
	margin:5px 0
}
footer .clear input:active
{
	-webkit-transform:translate(0,0);
	-moz-transform:translate(0,0);
	-o-transform:translate(0,0);
	-ms-transform:translate(0,0);
	transform:translate(0,0)
}
span.hangar-icon a
{
	width:55px;
	height:43px;
	background-color:transparent;
	border:0!important
}
.twitter a
{
	background-position:-284px -68px
}
.facebook a
{
	background-position:-280px -132px
}
.tumblr a
{
	background-position:-281px -190px
}
.vimeo a
 {
	background-position:-281px -243px
}
.home-header
{
	position:relative;
	max-height:85%;
	overflow:hidden;
	background:url(../Content/img/home-banner.jpg)
}
#showreel-wrapper,#sh-wrapper
{
	position:relative;
	padding-bottom:56.25%;
	height:0;
	overflow:hidden
}
#showreel-wrapper video,#sh-wrapper iframe
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%
}
#showreel-wrapper video
{
	height:auto;
	display:block
}
#client-list .thumbnail
{
	width:13.833333333%;
	padding:3% 1%;
	float:left;
	margin:0 1% 0 0
}
#client-list .thumbnail:last-child
{
	margin:0
}
#client-list
{
	padding-top:3em;
	padding-bottom:4em
}
#what-we-do img
{
	margin-bottom:1.5em
}
#what-we-do .services-wrap
{
	margin-bottom:4em
}
#what-we-do .services
{
	padding:1em 10%
}
.at-work
{
	background-image:url(../Content/img/working-bg.jpg);
	background-attachment:fixed;
	padding:.5em 0 3.5em;
	-webkit-box-shadow:inset 0 0 10px rgba(0,0,0,0.5);
	-moz-box-shadow:inset 0 0 10px rgba(0,0,0,0.5);
	box-shadow:inset 0 0 10px rgba(0,0,0,0.5);
	position:relative
}
.at-work p.lede
{
	text-align:center;
	color:#fff
}
.at-work .semi-grey-bg
{
	max-width:560px;
	margin:0 auto;
	padding:1.5em 2%
}
.at-work a.sans
{
	text-align:center;
	color:#f8d055;
	display:block;
	padding:.5em
}
.at-work a.sans:hover
{
	border:0
}
.at-work a.sans i
{
	font-style:normal;
	display:inline-block;
	-webkit-transform:translate(-3px,0);
	-moz-transform:translate(-3px,0);
	-o-transform:translate(-3px,0);
	-ms-transform:translate(-3px,0);
	transform:translate(-3px,0);
	-webkit-transition:-webkit-transform .2s ease,-webkit-opacity .2s ease;
	-moz-transition:-moz-transform .2s ease,-moz-opacity .2s ease;
	-ms-transition:-ms-transform .2s ease,opacity .2s ease;
	-o-transition:-o-transform .2s ease,opacity .2s ease;
	transition:transform .2s ease,opacity .2s ease
}
.at-work a.sans:hover i
{
	-webkit-transform:translate(3px,0);
	-moz-transform:translate(3px,0);
	-o-transform:translate(3px,0);
	-ms-transform:translate(3px,0);
	transform:translate(3px,0);
	-webkit-transition:-webkit-transform .2s ease,-webkit-opacity .2s ease;
	-moz-transition:-moz-transform .2s ease,-moz-opacity .2s ease;
	-ms-transition:-ms-transform .2s ease,opacity .2s ease;
	-o-transition:-o-transform .2s ease,opacity .2s ease;
	transition:transform .2s ease,opacity .2s ease
}
.home-header,.profile-header
{
	background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	background-attachment:fixed
}
.play{
	display:block;
	background:url(../img/play-button.png) center 0 no-repeat;
	padding-top:80px;
	margin:0 auto;
	width:134px;
	color:#fff;
	text-align:center;
	border:0
}
.play:hover
{
	border:0;
	background-position:center -128px
}
.wf-loading .play
{
	-webkit-transform:translate(0,-10px);
	-moz-transform:translate(0,-10px);
	-o-transform:translate(0,-10px);
	-ms-transform:translate(0,-10px);
	transform:translate(0,-10px);
	-moz-opacity:0;
	-khtml-opacity:0;
	-webkit-opacity:0;
	opacity:0;
	-ms-filter:alpha(opacity=0);
	filter:alpha(opacity=0)
}
.wf-active .play
{
	-moz-opacity:1;
	-khtml-opacity:1;
	-webkit-opacity:1;
	opacity:1;
	-ms-filter:alpha(opacity=100);
	filter:alpha(opacity=100);
	-webkit-transform:translate(0,10px);
	-moz-transform:translate(0,10px);
	-o-transform:translate(0,10px);
	-ms-transform:translate(0,10px);
	transform:translate(0,10px);
	-webkit-transition:-webkit-transform 1.5s ease,opacity 2s;
	-moz-transition:-moz-transform 1.5s ease,opacity 2s;
	-ms-transition:-ms-transform 1.5s ease,opacity 2s;
	-o-transition:-o-transform 1.5s ease,opacity 2s;
	transition:transform 1.5s ease,opacity 2s;
	transition-delay:1s;
	-webkit-transition-delay:1s
}
h1 b
{
	display:block;
	font-size:1.5em;
	font-weight:500;
	margin-bottom:.5em
}
.wf-loading h1 b,.wf-loading h1 span
{
	-moz-opacity:0;
	-khtml-opacity:0;
	-webkit-opacity:0;
	opacity:0;
	-ms-filter:alpha(opacity=0);
	filter:alpha(opacity=0)
}
.wf-active h1 b
{
	-moz-opacity:1;
	-khtml-opacity:1;
	-webkit-opacity:1;
	opacity:1;
	-ms-filter:alpha(opacity=100);
	filter:alpha(opacity=100);
	-webkit-transition:opacity 2s;
	-moz-transition:opacity 2s;
	-o-transition:opacity 2s;
	transition:opacity 2s
}
.wf-active h1 span
{
	-moz-opacity:1;
	-khtml-opacity:1;
	-webkit-opacity:1;
	opacity:1;
	-ms-filter:alpha(opacity=100);
	filter:alpha(opacity=100);
	-webkit-transition:opacity 1s;
	-moz-transition:opacity 1s;
	-o-transition:opacity 1s;
	transition:opacity 1s;
	transition-delay:.5s;
	-webkit-transition-delay:.5s
}
#our-music
{
	padding-bottom:3em
}
#our-music hr.clear
{
	margin-bottom:3em
}
#our-music ul>li.thumbnail
{
	width:31%;
	margin:0
}
#our-music ul>li+li
{
	margin-left:3.5%!important
}
#video-modal .close
{
	position:absolute;
	right:-40px;
	top:-10px;
	color:#fff;
	text-shadow:none;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	-moz-opacity:.5;
	-khtml-opacity:.5;
	-webkit-opacity:.5;
	opacity:.5;
	-ms-filter:alpha(opacity=50);
	filter:alpha(opacity=50);
	font-weight:300;
	font-size:2em;
	height:35px;
	padding:5px;
	-webkit-transition:opacity .3s;
	-moz-transition:opacity .3s;
	-o-transition:opacity .3s;
	transition:opacity .3s
}
#video-modal .close:hover
{
	-moz-opacity:1;
	-khtml-opacity:1;
	-webkit-opacity:1;
	opacity:1;
	-ms-filter:alpha(opacity=100);
	filter:alpha(opacity=100);
	-webkit-transition:opacity .3s;
	-moz-transition:opacity .3s;
	-o-transition:opacity .3s;
	transition:opacity .3s
}
.profile-header
{
	background-image:url(../Content/img/31.jpg);
	height:17em;
	background-size:100% auto;
	-moz-background-size:100% auto;
	-webkit-background-size:100% auto;
	-o-background-size:100% auto;
	background-repeat:no-repeat
}
.header-wrap
{
	margin:-10em 0 0 -45%;
	position:absolute;
	width:90%;
	height:20em;
	top:50%;
	left:50%
}
.profile-header .header-wrap
{
	position:fixed;
	margin-top:0;
	top:5em
}
.profile-header .header-inner
{
	top:20%
}
.header-inner h1
{
	margin:2em 0 3em;
	color:#fff;
	-moz-opacity:.8;
	-khtml-opacity:.8;
	-webkit-opacity:.8;
	opacity:.8;
	-ms-filter:alpha(opacity=80);
	filter:alpha(opacity=80)
}
.go-down
{
	display:block;
	width:40px;
	height:40px;
	background:url(../img/pointer-down.png) no-repeat;
	margin:7em auto 0;
	-moz-opacity:.6;
	-khtml-opacity:.6;
	-webkit-opacity:.6;
	opacity:.6;
	-ms-filter:alpha(opacity=60);
	filter:alpha(opacity=60);
	-webkit-transform:translate(0,-3px);
	-moz-transform:translate(0,-3px);
	-o-transform:translate(0,-3px);
	-ms-transform:translate(0,-3px);
	transform:translate(0,-3px);
	-webkit-transition:-webkit-transform .4s ease,opacity .4s;
	-moz-transition:-moz-transform .4s ease,opacity .4s;
	-ms-transition:-ms-transform .4s ease,opacity .4s;
	-o-transition:-o-transform .4s ease,opacity .4s;
	transition:transform .4s ease,opacity .4s
}
.go-down:hover
{
	-moz-opacity:1;
	-khtml-opacity:1;
	-webkit-opacity:1;
	opacity:1;
	-ms-filter:alpha(opacity=100);
	filter:alpha(opacity=100);
	border:0;
	-webkit-transform:translate(0,3px);
	-moz-transform:translate(0,3px);
	-o-transform:translate(0,3px);
	-ms-transform:translate(0,3px);
	transform:translate(0,3px);
	-webkit-transition:-webkit-transform .4s ease,opacity .4s;
	-moz-transition:-moz-transform .4s ease,opacity .4s;
	-ms-transition:-ms-transform .4s ease,opacity .4s;
	-o-transition:-o-transform .4s ease,opacity .4s;
	transition:transform .4s ease,opacity .4s
}
.posRel
{
	position:relative
}
.at-work.guides
{
	background-image:url(../img/drawing.jpg)
}
.point-down
{
	width:1px;
	height:3em;
	background:#b0aeac;
	margin:-2em auto .5em
}
#tick-carousel
{
	margin-bottom:3em
}
.carousel-inner
{
	margin:0 auto;
	max-width:640px;
	width:65%
}
.carousel-inner h3,.carousel-inner p
{
	text-align:center
}
.carousel-inner p
{
	font-size:1.2em
}
.carousel.carousel-fade .item
{
	-webkit-transition:opacity .6s ease-in-out;
	-moz-transition:opacity .6s ease-in-out;
	-o-transition:opacity .6s ease-in-out;
	transition:opacity .6s ease-in-out;
	background:#fff;
	min-height:220px;
	max-width:640px;
	margin:0 auto
}
.carousel.carousel-fade .active.left,.carousel.carousel-fade .active.right
{
	left:0;
	z-index:2;
	-moz-opacity:0;
	-khtml-opacity:0;
	-webkit-opacity:0;
	opacity:0;
	-ms-filter:alpha(opacity=0);
	filter:alpha(opacity=0)
}
.carousel.carousel-fade .next,.carousel.carousel-fade .prev
{
	left:0;
	z-index:1
}
.carousel-control
{
	z-index:3;
	background:url(../img/carousel-arrow.png) no-repeat;
	height:56px;
	-moz-opacity:.4;
	-khtml-opacity:.4;
	-webkit-opacity:.4;
	opacity:.4;
	-ms-filter:alpha(opacity=40);
	filter:alpha(opacity=40);
	top:30%;
	left:0
}
.carousel-control.right
{
	background-position:0 -75px;
	right:0
}
ol.carousel-indicators
{
	text-align:center;
	width:100%;
	margin:0 auto;
	position:static;
	border-top:1px solid #eeeeed
}
ol.carousel-indicators li
{
	width:10%;
	height:auto;
	cursor:pointer;
	max-width:80px;
	display:inline-block;
	float:none;
	text-indent:0;
	padding:2em 2%;
	position:relative;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	margin:0
}
ol.carousel-indicators li img
{
	display:block;
	margin:0 auto
}
ol.carousel-indicators li
{
	-webkit-transition:background-color .3s;
	-moz-transition:background-color .3s;
	-o-transition:background-color .3s;
	transition:background-color .3s
}
ol.carousel-indicators li.active
{
	background:#eeeeed
}
#capabilities ul
{
	list-style:none;
	text-align:center;
	margin:0
}
#capabilities
{
	padding-bottom:4em
}
.full-width
{
	/*background:url(../img/noise-bg.png);*/
	background-color:#ebebeb;
	padding:2em 0
}
#process, #our-concerts
{
	/*kimi*/
	/*margin-bottom:3em;*/
	padding-bottom:3em;
	padding:2em 0
}
#process h2, #our-concerts h2
{
	margin:1em auto 0;
	font-size:1.5em
}
#process h2 span, #our-concerts h2 span
{
	margin:.2em auto;
	font-size:2em;
	letter-spacing:.15em;
	font-weight:600;
	color:#313e46;
	background:transparent;
	display:block;
	text-shadow:1px 1px 0 #ebebea,3px 3px 0 #909fad
}
#process h2 i, #our-concerts h2 i
{
	display:block;
	color:#909fad;
	font-family:"kepler-std-i4","kepler-std",serif;
	font-style:italic;
	font-weight:400;
	text-transform:none;
	letter-spacing:0
}
.bulb-wrap
{
	width:253px;
	position:relative;
	margin:0 auto
}
.relation-wrap
{
	width:331px;
	position:relative;
	margin:0 auto
}
.ship-wrapper
{
	margin:0 auto;
	width:245px
}
#bulb-glow
{
	position:absolute
}
.bubbles,#sails,#mast
{
	position:absolute
}
.second-bubble
{
	right:0
}
#speech-bubble-one
{
	left:0
}
#sails
{
	top:2px;
	margin-top:-200px;
	padding-top:200px
}
span.pipe
{
	background:url(../img/pipe.png) no-repeat center center;
	display:block;
	margin:0 auto;
	width:40px;
	height:150px;
	position:relative
}
#who-we-are
{
	padding-bottom:4em
}
#who-we-are h3
{
	margin-bottom:.2em
}
.profile-photo
{
	margin-bottom:2em
}
.profiles-wrap
{
	padding:0 10%
}
#who-we-are p
{
	margin:0 auto;
	text-align:left;
	padding:2em 0
}
body.the-list
{
	background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	background-image:url(../img/drawing.jpg);
	background-position:center;
	background-attachment:fixed
}
body.the-list h2,body.the-list .lede
{
	color:#fff;
	position:relative
}
body.the-list h2
{
	font-family:"proxima-nova-n7","proxima-nova",sans-serif;
	font-style:normal;
	font-weight:700;
	margin-bottom:1em;
	color:#f8d055
}
body.the-list .lede
{
	font-family:"kepler-std-n3","kepler-std",serif;
	font-style:normal;
	font-weight:300;
	font-size:1.3em
}
#rules-carousel span
{
	font-size:1.5em;
	display:block;
	text-align:center;
	color:#fff;
	margin-bottom:1.5em;
	-moz-opacity:.6;
	-khtml-opacity:.6;
	-webkit-opacity:.6;
	opacity:.6;
	-ms-filter:alpha(opacity=60);
	filter:alpha(opacity=60)
}
.carousel-wrap
{
	max-width:640px;
	margin:0 auto;
	border:1px solid;
	padding:2px;
	width:75%
}
article.rules
{
	height:100%;
	background:transparent;
	z-index:0
}
#rules-carousel
{
	margin-top:15%
}
#rules-carousel ol.carousel-indicators
{
	border:0
}
#rules-carousel .carousel-inner-wrap
{
	border:1px solid;
	background:rgba(0,0,0,0.5)
}
#rules-carousel .carousel-inner
{
	width:auto
}
.rules-wrap
{
	min-height:320px;
	padding:3em 5% 1em
}
.carousel-control,.carousel-control:hover
{
	border:0
}
ol.carousel-indicators.rules-nav
{
	padding-bottom:2em
}
ol.carousel-indicators.rules-nav li
{
	width:10px;
	height:10px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border-radius:20px;
	padding:0;
	margin:0 2px
}
#rules-carousel .carousel-control
{
	background-position:0 -140px;
	top:50%
}
#rules-carousel .carousel-control.right
{
	background-position:12px -215px
}
input.anti-spam
{
	display:none
}
#contact-page input,#contact-page textarea,input.email
{
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	/*kimi*/
	/*padding:1em 2%;*/
	/*kimi*/
	height:auto;
	width:96%;
	max-width:460px;
	margin:0 0 1.5em;
	font-family:"proxima-nova-n4","proxima-nova",sans-serif;
	font-style:normal;
	font-weight:400;
	font-size:.8em
}
.contact-intro,.work-intro
{
	padding:6em 0 4em
}
.contact-form
{
	margin-bottom:6em
}
#contact-form .span3 p
{
	margin-bottom:2em
}
#work-showcase
{
	padding:50px 30px
}
ul>li.thumbnail a h2
{
	text-align:center;
	display:block;
	padding-top:1em;
	font-size:.9em;
	height:2em
}
.work header
{
	height:36em;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover
}
.wf-loading .work header
{
	-moz-opacity:0;
	-khtml-opacity:0;
	-webkit-opacity:0;
	opacity:0;
	-ms-filter:alpha(opacity=0);filter:alpha(opacity=0)
}
.wf-active .work header
{
	-moz-opacity:1;
	-khtml-opacity:1;
	-webkit-opacity:1;
	opacity:1;
	-ms-filter:alpha(opacity=100);
	filter:alpha(opacity=100);
	-webkit-transition:opacity 1s;
	-moz-transition:opacity 1s;
	-o-transition:opacity 1s;
	transition:opacity 1s;
	transition-delay:1s;
	-webkit-transition-delay:1s
}
.services-outer-wrap
{
	background:url(../img/services-bg.png) repeat-x center center;
	margin:2em 0 3em
}
div.services-wrap
{
	border:1px solid #eeeeed;
	padding:2px;
	margin:0 auto;
	max-width:640px;
	background:#fff
}
.services
{
	text-align:center;
	border:1px solid #eeeeed;
	padding:.8em
}
ul.services li
{
	padding:0
}
.work ul.services li i
{
	color:#c5c5c5
}
ul.services li:last-child i
{
	display:none
}
.work section.container
{
	padding-top:3em
}
.video-wrapper p
{
	position:relative;
	padding-bottom:56.25%;
	padding-top:25px;
	height:0;
	margin-top:2em
}
.video-wrapper iframe
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%
}
.work section
{
	padding-bottom:4em
}
.work .intro
{
	font-size:1.4em;
	font-weight:300;
	text-align:center;
	border-bottom:1px solid #eeeeed;
	border-top:1px solid #eeeeed;
	padding:1.3em 0 1em;
	margin:2em 0;
	font-style:italic
}
.work .body
{
	margin-bottom:2em
}
.images-videos
{
	width:100%;
	max-width:860px;
	margin:0 auto
}
.two-image-wrapper img
{
	float:left;
	width:48%
}
.two-image-wrapper img:first-child
{
	margin-right:4%
}
.images-videos img
{
	margin-top:2em
}
.images-videos small
{
	display:block;
	text-align:center;
	padding-top:1em;
	color:#999
}
.visit-website
{
	display:inline-block;
	padding-top:3em
}
a.back-work
{
	display:block;
	width:54px;
	height:54px;
	margin:0 auto;
	-moz-opacity:.5;
	-khtml-opacity:.5;
	-webkit-opacity:.5;
	opacity:.5;
	-ms-filter:alpha(opacity=50);
	filter:alpha(opacity=50);
	-webkit-transition:opacity .8s;
	-moz-transition:opacity .8s;
	-o-transition:opacity .8s;
	transition:opacity .8s
}
a.back-work:hover
{
	border:0;
	-moz-opacity:1;
	-khtml-opacity:1;
	-webkit-opacity:1;
	opacity:1;
	-ms-filter:alpha(opacity=100);
	filter:alpha(opacity=100);
	-webkit-transition:opacity .2s;
	-moz-transition:opacity .2s;
	-o-transition:opacity .2s;
	transition:opacity .2s
}
.back-work b
{
	display:block;
	width:6px;
	height:6px;
	background:#333;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	float:left;
	margin:6px
}@media(min-width:1200px){.work .body-section .span3{width:26%}
.work .body-section .span3:first-child
{
	margin-left:22.7179487179%!important
}
.at-work
{
	background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover
}
#process .process-images
{
	margin-left:17.094017094017094%
}
#process .span6, #our-concerts .span6
{
	width:31.623931623931625%
}
#rules-carousel .carousel-control
{
	left:15%
}
#rules-carousel .carousel-control.right
{
	left:auto;
	right:15%
}
}@media(max-width:979px){.narrower{padding:0;width:100%}
								  
#main-nav .container
{
	width:auto;
	padding:0;
	position:relative;
	z-index:9000
}
.container
{
	padding:0 20px
}
.btn-navbar
{
	display:inline-block;
	margin-right:20px
}
.nav-collapse.collapse .centered
{
	background:rgba(51,61,71,0.9);
	padding-bottom:20px;
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,0.3);
	box-shadow:0 1px 2px rgba(0,0,0,0.3)
}
.nav-collapse.collapse
{
	float:none;
	margin:42px 0 0;
	z-index:9000
}
.nav-collapse.collapse .centered li
{
	text-align:left;
	display:list-item;
	margin-left:0!important
}
.nav-collapse.collapse .centered li a
{
	padding:10px 30px;
	display:block;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	color:#fff!important;
	-webkit-transition:none;
	-moz-transition:none;
	-o-transition:none;
	transition:none
}
.nav-collapse.collapse .centered li a:hover
{
	background:#222d33;
	color:#f8d055;
	-webkit-transition:none;
	-moz-transition:none;
	-o-transition:none;
	transition:none
}
.carousel.carousel-fade .item
{
	min-height:260px
}
#contact-form .span5
{
	width:60%
}
.work header
{
	height:30em
}
#main-nav
{
	-webkit-transition:background .8s;
	-moz-transition:background .8s;
	-o-transition:background .8s;
	transition:background .8s
}
#main-nav:hover
{
	background:rgba(51,61,71,0.8);
	-webkit-transition:background .8s;
	-moz-transition:background .8s;
	-o-transition:background .8s;
	transition:background .8s
}
.work .body-section .span3
{
	width:45.61878453038674%;
	margin-left:5.7624309392265194%;
	float:left
}
.at-work
{
	padding:1em 0 4em;
	background-size:200% auto;
	-moz-background-size:200% auto;
	-webkit-background-size:200% auto;
	-o-background-size:200% auto
}
.work .body-section .span3.offset3
{
	margin-left:0
}
body.work-page #main-nav:hover,body.contact #main-nav:hover
{
	background-position:-4px -8px
}
.home .header-inner h1
{
	margin-bottom:1.5em
}
.home-header .header-inner
{
	font-size:.8em
}
.services-outer-wrap
{
	margin:1em 0 2em
}
#who-we-are div.span4
{
	width:100%;
	margin:0 0 2em 0;
	text-align:left
}
.profile-photo
{
	float:left;
	width:40%;
	margin-left:5%
}
#who-we-are div.span4 p
{
	padding:1em 0
}
#who-we-are ul.centered
{
	text-align:left
}
.profiles-wrap
{
	float:left;
	width:45%;
	padding:0 5%
}
#rules-carousel .carousel-control
{
	left:0
}
#rules-carousel .carousel-control.right
{
	left:auto;
	right:0
}
div.copyright
{
	padding-top:0;
	margin-top:-0.3em
}
ul>li.thumbnail
{
	width:46%;
	margin:0 2% 2em
}
#contact-page form
{
	max-width:600px;
	margin:0 auto
}
#contact-form .span3
{
	display:none
}
#what-we-do .span4
{
	margin:0 auto 2.5em;
	width:100%;
	float:none
}
#what-we-do img
{
	float:left;
	margin:-1em 7% 3em -2%
}
#what-we-do h3,#what-we-do p,#who-we-are h3,#who-we-are p,#who-we-are h4
{
	text-align:left;
	max-width:650px
}
#showreel-wrapper video
{
	display:none
}
.home-header
{
	background-size:145% auto;
	-moz-background-size:145% auto;
	-webkit-background-size:145% auto;
	-o-background-size:145% auto
}
.header-wrap
{
	margin:-8em 0 0 -45%;
	height:16em
}
#our-music a.buttons.sans
{
	margin-top:2em
}}@media(max-width:767px){body{padding:0}

body.work-page,body.contact
{
	background-position:-4px -36px
}
#process p, #our-concerts p
{
	max-width:400px;
	margin:0 auto
}
.carousel.carousel-fade .item
{
	min-height:260px
}
.relationship
{
	max-width:390px;
	margin:0 auto
}
#contact-page input,#contact-page textarea,#contact-page .buttons.submit
{
	max-width:none
}
#contact-page .buttons.submit
{
	width:100%
}
#contact-form .span5
{
	width:auto
}
#who-we-are .span4
{
	margin:0 auto 2em
}
#what-we-do .services
{
	padding:1.5em 6%
}
.header-wrap
{
	margin:-7.5em 0 0 -45%
}
.modal
{
	left:50%
}
#video-modal .close
{
	right:-30px
}
#looped-vid[style]
{
	display:none!important

}
#process
{
	text-align:center
}
#capabilities .services-wrap
{
	margin:0 auto 1em;
	max-width:460px
}
#client-list .thumbnail
{
	width:25%;
	margin:0 5% 1.6em 0;
	padding:3% 2.5%
}
#process img.posRel,.bubbles,#sails,#mast, #our-concerts img.posRel
{
	left:auto
}
.no-right-margin
{
	margin-right:0!important
}
div.copyright
{
	margin-bottom:3em
}
.copyright-text,span.hangar-icon
{
	float:none;
	text-align:center
}
span.hangar-icon
{
	display:block;
	margin:0 auto
}
.newsletter
{
	margin:0 auto 4em
}
.social-footer
{
	text-align:center
}
.profile-header
{
	height:20em

}
article.rules
{
	height:auto
}}@media(max-width:640px){.work .body-section .span3
{
	width:100%;
	max-width:380px;
	margin:0 auto!important;
	float:none
}}@media(max-width:480px)
  {
	  body
		  {
			  font-size:95%
	      }
		  ul>li.thumbnail
		  {
			  width:100%;
			  padding:0!important;
			  margin:0 0 2em
		  }
		  .carousel.carousel-fade .item
		  {
			  min-height:320px
		  }
		  ol.carousel-indicators li
		  {
			  width:12%;
			  padding:1em 1%
		  }
		  #what-we-do img,.profile-photo,.profiles-wrap
		  {
			  float:none
		  }
		  #who-we-are img
		  {
			  width:90%;
			  margin-bottom:1em
		  }
		  #who-we-are div.span4
		  {
			  padding:1.5em 0
		  }
		  #what-we-do p,#what-we-do h3,#who-we-are h3,#who-we-are p,#who-we-are h4,#who-we-are ul.centered
		  {
			  text-align:center
		  }
		  .profiles-wrap
		  {
			  width:80%;
			  padding:0 10%
		  }
		  #what-we-do p
		  {
			  margin-bottom:1em
		  }
		  #what-we-do img
		  {
			  margin:0 0 1.5em
		  }
		  .bulb-wrap
		  {
			  width:126px
		  }
		  .process-images img
		  {
			  margin-bottom:2em
		  }
		  .ship-wrapper
		  {
			  width:123px;
			  position:relative
		  }
		  .relation-wrap
		  {
			  width:165px
		  }
		  .relationship div.span4.offset2
		  {
			  width:70%;
			  margin:0 auto!important
		  }
		  .relationship div.span6 img
		  {
			  width:80%
		  }
		  .work header
		  {
			  height:20em;
			  background-size:cover;
			  -moz-background-size:cover;
			  -webkit-background-size:cover;
			  -o-background-size:cover
		  }
		  .work section.container
		  {
			  padding-top:2em
		  }
		  .home-header
		  {
			  height:42%;
			  min-height:400px
		  }
		  .nav-collapse.collapse
		  {
			  margin:37px 0 0
		  }
		  .work .intro
		  {
			  padding:.8em 0 .1em;
			  margin:1em 0
		  }
		  .two-image-wrapper img
		  {
			  width:100%
		  }
		  .full-width
		  {
			  padding:0
		  }
		  .play
		  {
			  background-size:50px auto;
			  -moz-background-size:50px auto;
			  -webkit-background-size:50px auto;
			  -o-background-size:50px auto;
			  padding-top:60px
		  }
		  .play:hover
		  {
			  background-position:center -91px
		  }
		  .images-videos img
		  {
			  margin-top:1em
		  }
		  .intro p
		  {
			  padding:0 5%
		  }
		  .at-work
		  {
			  padding:0 0 2em
		  }
		  #our-misic ul>li.thumbnail
		  {
			  width:100%;
			  margin:0 0 2em!important
		  }
		  div.copyright
		  {
			  float:none;
			  width:65%;
			  margin:0 auto 3em
		  }
		  .social-footer
		  {
			  text-align:center;
			  width:100%
		  }
		  #client-list
		  {
			  padding-bottom:2em
		  }
		  #client-list .thumbnail
		  {
			  width:27%;
			  margin:0 2% .5em 0
		  }
		  #rules-carousel
		  {
			  margin-top:6em
		  }
		  .buttons.clean
		  {
			  padding:1em
		  }
		  footer input.email,footer .clear input
		  {
			  font-size:.8em
		  }
		  .profile-header
		  {
			  background-size:cover;
			  -moz-background-size:cover;
			  -webkit-background-size:cover;
			  -o-background-size:cover;
			  background-attachment:scroll
		  }
		  .home-header
		  {
			  background-size:240% auto;
			  -moz-background-size:240% auto;
			  -webkit-background-size:240% auto;
			  -o-background-size:240% auto
		  }
		  }
	@media screen and (-webkit-min-device-pixel-ratio:2),screen and (max-moz-device-pixel-ratio:2){
			   .facebook a,.twitter a,.tumblr a,.vimeo a,span.hangar-icon a
			   {
				   background-image:url(../img/hangar-logos@2x.png);
				   background-size:355px 374px;
				   -moz-background-size:355px 374px;
				   -webkit-background-size:355px 374px;
				   -o-background-size:355px 374px
			   }
			   body.work-page .dark-header ,body.contact .dark-header
			   {
				   background-size:249px 262px;
				   -moz-background-size:249px 262px;
				   -webkit-background-size:249px 262px;
				   -o-background-size:249px 262px
			   }
			   .play
			   {
				   background-image:url(../img/play-button@2x.png);
				   background-size:63px 198px;
				   -moz-background-size:63px 198px;
				   -webkit-background-size:63px 198px;
				   -o-background-size:63px 198px
			   }

		   }


	/*kimi myself*/


* {
padding: 0;
margin: 0;
}
#ruseller {
height: 16px;
background: #e4e0e0;
font: .14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
text-align: center;
}
#ruseller a {
text-decoration: none;
}
#ruseller a:hover {
text-decoration: underline;
}
/* Основные стили меню */
#menu {
height: 480px; width: 930px;
    overflow: hidden;
    margin: 20px auto;
    text-align: center;
}
#menu ul li.inside {
float: left;
margin: 0 5px;
list-style-type: none;
}
/* Стили ссылок меню */
#menu ul a.top {
background: #e70f23;
color: #fff;
font: lighter 2em/100px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
#menu ul a {
display: block;
background: #000; color: #fff;
height: 480px; width: 300px;
font: lighter 14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
text-decoration: none;

-webkit-transition: margin .4s ease-in-out;
-moz-transition: margin .4s ease-in-out;
-o-transition: margin .4s ease-in-out;
-ms-transition: margin .4s ease-in-out;
transition: margin .4s ease-in-out;
}

#menu ul span {
display: block;
background: #000; color: #fff;
height: 480px; width: 300px;
font: lighter 14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
text-decoration: none;

-webkit-transition: margin .4s ease-in-out;
-moz-transition: margin .4s ease-in-out;
-o-transition: margin .4s ease-in-out;
-ms-transition: margin .4s ease-in-out;
transition: margin .4s ease-in-out;
}
/* Смена при наведении курсора мыши на пункт меню */
/*#menu ul li:hover .top {
margin-top: -480px;
}*/


/*kimi*/

p.album-title
{
	font-family: times, Times New Roman, times-roman, georgia, serif;
	color: #444;
	margin: 0;
	padding: 0px 0px 6px 0px;
	font-size: 51px;
	line-height: 44px;
	letter-spacing: -2px;
	font-weight: bold;
}

p.album-year
{
	font-family: Gill Sans, Verdana;
	font-size: 11px;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
}

.album-desc-container
{
	padding-right:20px;
}

p.album-description-text
{
	font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 14px;
    margin-top: .5em; color: #666;
}

li.active:before {
content: '♬';
width: 14px;
height: 14px;
padding: 3px;
line-height: 14px;
margin: 0px;
position: absolute;
left: -40px;
top: 9px;
color: #000;
font-size: 13px;
text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
}

/*kimi*/
.icon-lyrics
{
	float:right;
}

/*kimi*/
.audio
{
	width:100%;
}



/* Bubble with an isoceles triangle
------------------------------------------ */

.triangle-border {
position: relative;
padding: 15px;
margin: 1em 0 3em;
border: 5px solid lightgray;
color: #333;
background: #fff;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.triangle-border.left {
margin-left: 30px;
}

.triangle-border:before {
content: "";
position: absolute;
bottom: -20px;
left: 40px;
border-width: 20px 20px 0;
border-style: solid;
border-color: #5a8f00 transparent;
display: block;
width: 0;
}

.triangle-border.left:before {
top: 10px;
bottom: auto;
left: -30px;
border-width: 15px 30px 15px 0;
border-color: transparent lightgray;
}

/*kimi*/
.lyrics, .song-title
{
	color: #76879b;
        font-size: 10px;
        margin: 5px;
        font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
		background-color:#fff;
}

pre.lyrics
{
	border:none;
}

.song-title
{
	font-size:13px;
}

/*kimi*/
.page-header-wrapper
{
	margin-top:60px;
}

/*kimi*/
.block-head
{
	display: block;
	background: #e2e6e9;
	text-transform: uppercase;
	position: relative;
	padding: 5px;
	margin: 0 0 10px;
}

.block-slider
{
	margin-bottom:40px;
}

.block-head:before, .block-head:after
{
	display: table;
	content: " ";
	clear: both;
}

.block-head h3
{
	font-size: 10pt;
	color: #656769;
	/*float: left;*/
	margin: 0;
	padding: 10px 5px 5px 20px;
}

.thumbnail-container
{
	width:200px;
	margin:1px;
}

.video-container
{
	width:100%;
}

.thumbnail-container p
{
	text-align:center;
}

#about-page
{
	padding-top:60px;
}

/*Kimi from about-page*/
.post
{
	width:100%;
	overflow-x:hidden;
	max-width: none;
	margin: 0;
	width:80%;
	margin:auto;
	padding-left:50px;
	padding-right:50px;
	padding-top:30px;
	padding-bottom:30px;
}

.title h1
{
	font-weight: 400;
	font-size: 1.6em;
	line-height: 1.5em;
	color: #2a2827;
	margin-bottom: 0.5em;
}

.date
{
	display: block;
	float: left;
	margin-right: 15px;
	float: none;
	text-align: center;
	font-family: "proxima-nova-n4", "proxima-nova", sans-serif;
	font-style: normal;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.7em;
	margin-bottom: 4em;
}

.caption
{
	font-size: 1.5em;
	color: #383532;
	font-family: "kepler-std-n4", "kepler-std", serif;
	font-style: normal;
	font-weight: 400;
}

.bold p
{
	font-weight:bold;
}

/*kimi*/
.about-content-img
{
	height:256px;
	width:450px;
}

/*kimi*/
.grey-background
{
	background-color:#ebebeb;
}

.about-slider
{
	height:150px;
	width:150px;
}