@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared.cshtml";
}

<article id="contact-page">
    <header>
			<div class="row-fluid">
				<div class="span8 offset2 contact-intro">
					<h1>
						У вас ёсць пытанні да нас?
					</h1>
					<h2 class="lede two">
						Запоўніце простую форму, і мы абавязкова вам адкажам.
					</h2>
				</div>
			</div>
	</header>
<section id="contact-form">
		<div class="full-width">
			<div class="container">
				<div class="row-fluid">
					<div class="span5 offset2">
                        <h3>Ваша паведамленне выслана. Мы хутка вам адкажам.</h3>
					</div>
					<div class="span3 offset1">
						<h3>МЫ заўсёды з вамі на сувязі</h3>
						<p>Гурт Akute заўсёды рады быць побач са сваімі слухачамі. Каб звязацца з намі, вы можаце даслаць нам паведамленне праз email, альбо праз любую за сацыяльных сетак, якімі мы актыўна карыстаемся.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</article>