@model AkuteSinglePage.Models.LocalizedUser

@{
    ViewBag.Title = "DrumExt";
    Layout = "~/Views/Shared.cshtml";
}
<div class="pink-background">
    <section id="drumext-blog" class="blog-block">
                    <div id="about">
                        @Html.Partial("~/Views/Blog/DrumExtMiniProfile.cshtml", Model)
                    </div>

                   <div>
                       @Html.Partial("~/Views/Blog/DrumExtMenuNav.cshtml", Model)
                   </div>
    </section>
</div>



<link type="text/css" rel="stylesheet" href="~/Content/blogs-style.css" />