@model AkuteSinglePage.Models.LocalizedUser

@{
    ViewBag.Title = "Romaramsi";
    Layout = "~/Views/Shared.cshtml";
}

<div class="black-background">
<section role="main">
            
	<header class="hero-banner img_loaded">
		<img class="resize" src="/img/cache/1500_261ff78e9b9d34d5bc4b70d56fb66006_kev-banner.jpg" rel="/img/team/banners/kev-banner.jpg" alt="Kevin" style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1;">
        <noscript>&lt;img src="/img/team/banners/kev-banner.jpg" alt="Kevin" /&gt;</noscript>
        <hgroup>
            <h1>Kevin Dew</h1>
            <h2 class="text-hl">Senior Developer</h2>
        </hgroup>
	</header>

	<div class="grid-wrap" style="position: relative; height: 883.8px;">

		                        <div class="block-wrap small-screen-double-wide" data-rowspan="1" data-colspan="1" style="position: absolute; width: 294.6px; height: 294.6px; top: 0px; left: 0px;">
                <div class="block list-block" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                                            <ul>
            <li><a href="http://twitter.com/el_kev" target="_blank"><i class="icon icon-twitter"></i>el_kev</a></li>
            <li><a href="http://github.com/kevindew" target="_blank"><i class="icon icon-github"></i>GitHub</a></li>
            <li><a href="http://kevindew.me" target="_blank"><i class="icon icon-feather"></i>My Blog</a></li>
            <li><a href="http://instagram.com/el_kev" target="_blank"><i class="icon icon-instagram"></i>Instagram</a></li>
    </ul>                                    </div>
            </div>
                                <div class="block-wrap" data-rowspan="2" data-colspan="2" style="position: absolute; width: 589.2px; height: 589.2px; top: 0px; left: 294.6px;">
                <div class="block text-only" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                                            <p>The older I get the more I feel like a kid. There's always more to learn, bigger ideas to dream, plans to explore and new toys to buy.</p>
                                    </div>
            </div>
                                <div class="block-wrap" data-rowspan="1" data-colspan="1" style="position: absolute; width: 294.6px; height: 294.6px; top: 0px; left: 883.8px;">
                <div class="block image img_loaded" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                                            <figure class="with-hidden-caption">
    <img class="resize" src="/img/cache/300_520c81789d392d4b963f86f7f44ff933_corn.jpg" rel="/img/team/profiles/kev/corn.jpg" alt="The Corn Exchange has come back to life." style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1;">
    <noscript>&lt;img src="/img/team/profiles/kev/corn.jpg" alt="The Corn Exchange has come back to life." /&gt;</noscript>
    <figcaption><p>The Corn Exchange has come back to life.</p></figcaption>
</figure>                                     </div>
            </div>
                                <div class="block-wrap" data-rowspan="1" data-colspan="1" style="position: absolute; width: 294.6px; height: 294.6px; top: 0px; left: 1178.4px;">
                <div class="block image img_loaded" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                                            <figure class="with-hidden-caption">
    <img class="resize" src="/img/cache/300_b344deb264bd9298de59b4982f55c9cc_penguin.jpg" rel="/img/team/profiles/kev/penguin.jpg" alt="Hello Penguin." style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1;">
    <noscript>&lt;img src="/img/team/profiles/kev/penguin.jpg" alt="Hello Penguin." /&gt;</noscript>
    <figcaption><p>Hello Penguin.</p></figcaption>
</figure>                                     </div>
            </div>
                                <div class="block-wrap" data-rowspan="1" data-colspan="1" style="position: absolute; width: 294.6px; height: 294.6px; top: 294.6px; left: 0px;">
                <div class="block image img_loaded" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                                            <figure class="with-hidden-caption">
    <img class="resize" src="/img/cache/300_26f4828b91e21e2e9c1bcbe1a1770381_lego.jpg" rel="/img/team/profiles/kev/lego.jpg" alt="Nerd." style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1;">
    <noscript>&lt;img src="/img/team/profiles/kev/lego.jpg" alt="Nerd." /&gt;</noscript>
    <figcaption><p>Lego Nerd.</p></figcaption>
</figure>                                     </div>
            </div>
                                <div class="block-wrap" data-rowspan="1" data-colspan="1" style="position: absolute; width: 294.6px; height: 294.6px; top: 294.6px; left: 883.8px;">
                <div class="block image img_loaded" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                                            <figure class="with-hidden-caption">
    <img class="resize" src="/img/cache/300_2599145813acb8eded1eb06aa0fb64b3_cake.jpg" rel="/img/team/profiles/kev/cake.jpg" alt="Birthday Cake" style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1;">
    <noscript>&lt;img src="/img/team/profiles/kev/cake.jpg" alt="Birthday Cake" /&gt;</noscript>
    <figcaption><p>Intense peanut butter and chocolate hit.</p></figcaption>
</figure>                                     </div>
            </div>
                                <div class="block-wrap" data-rowspan="1" data-colspan="1" style="position: absolute; width: 294.6px; height: 294.6px; top: 294.6px; left: 1178.4px;">
                <div class="block image img_loaded" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                                            <figure class="with-hidden-caption">
    <img class="resize" src="/img/cache/300_8afd71d5381262949d24a9963ab30515_greenwich.jpg" rel="/img/team/profiles/kev/greenwich.jpg" alt="London" style="transition: all 0s ease; -webkit-transition: all 0s ease; opacity: 1;">
    <noscript>&lt;img src="/img/team/profiles/kev/greenwich.jpg" alt="London" /&gt;</noscript>
    <figcaption><p>North Greenwich from the cable car.</p></figcaption>
</figure>                                     </div>
            </div>
                                <div class="block-wrap" data-rowspan="1" data-colspan="1" style="position: absolute; width: 294.6px; height: 294.6px; top: 589.2px; left: 0px;">
                <div class="block quote" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                                            <blockquote><p>Remember, Sully, when I promised to kill you last? I lied.</p></blockquote>
<cite>John Matrix played by Arnold Schwarzenegger</cite>                                    </div>
            </div>
                                <div class="block-wrap" data-rowspan="1" data-colspan="1" style="position: absolute; width: 294.6px; height: 294.6px; top: 589.2px; left: 294.6px;">
                <div class="block quote" style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; min-height: 0px;">
                                            <blockquote><p>Simplicity is the ultimate sophistication</p></blockquote>
<cite>Leonardo Da Vinci</cite>                                    </div>
            </div>
        
	</div>
        </section>
</div>

<link type="text/css" rel="stylesheet" href="~/Content/blogs-style.css" />