@{
    ViewBag.Title = "LogOn";
}
<div style="text-align:center" >
        <h2>@ViewBag.Title</h2>
    @using (Html.BeginForm("LogOn", "Account", new { returnUrl = Request.QueryString["ReturnUrl"] }, FormMethod.Post))
    {
        @Html.TextBox("login")<br />
        @Html.TextBox("password") <br />
        <button type="submit">Log On</button>
    }
</div>
